.background {
    background:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    min-height: 150vh;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.wrapper {
    margin-top: 1rem;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 300px 150px 300px 150px 300px 150px 300px 100px;
    grid-template-areas: 
        ". Faqs"
        "Num Header"
        ". TeamsInfo"
        "Num Header"
        ". GeneralInfo"
        "Num Header"
        ". LogisticsInfo"
        ". ."
}

.gridDivs {
    outline-color: white;
    outline-width: medium;
    outline-style: solid;
}

#Faqs {
    background-color: aliceblue;
}
#Num {
    color: rgb(0, 0, 0);
	font-size: 100px;
    font-weight: 1000;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
}
#Header {
    color: rgb(0, 0, 0);
	font-size: 90px;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
}
#TeamsInfo {
    background-color: aquamarine;
}

#GeneralInfo {
    background-color: lightpink;
}

#LogisticsInfo {
    background-color: indianred;
}
#footer {
    background-color: blue;
}

