.images{
    display: grid;
    grid-template-columns: auto auto auto   
}

.image{
    cursor: pointer;
    margin: 10px;
    transition: all 1 ease-out
}

.image img{
    width: 100%;
    opacity:0.5;
    transition: 1s ease;
}
    
.image img:hover{
    opacity:1;
    transition: 1s ease;
}



@media (max-width: 1200px) {
    .images{
        grid-template-columns: auto auto   
    }
}

@media (max-width: 700px) {
    .images{
        grid-template-columns: auto   
    }   
}