.images{
    display: grid;
    grid-template-columns: auto auto auto   
}

.image{
    cursor: pointer;
    margin: 10px;
    transition: all 1 ease-out
}

.main {
  background-color: #141623;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.gallery img {
  height:200px;
  object-fit: contain;
}

.container {
  padding: 0 2rem 0 2rem;
}
