.main {
  background-color: #141623;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.container {
  padding: 0 2rem 0 2rem;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    border-radius: 0.375rem;
    width: 40vw;
  }
}
