.main {
  background-color: #141623;
  color: #ffffff;
  min-height: 100vh;
  position: relative;
}

.headImage {
  position: relative;
  height: 50vw;
  width: 50vw;
  animation: bobble 2s infinite;
  z-index: 10;
}

.headImageContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.stripes {
  position: fixed;
  bottom: 20vh;
  left: -9rem;
  transform: rotate(45deg);
}

.stripes span {
  display: block;
  position: relative;
  height: 0.5rem;
  width: 100vh;
  background-color: #ffffff;
  margin-top: 3rem;
  opacity: 0.4;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-shadow: 0 0 10px #808ed0;
  filter: drop-shadow(0 4px 3px rgb(255 119 160 / 0.3))
    drop-shadow(0 2px 2px rgb(255 119 160 / 0.26));
  text-transform: uppercase;
}

.titleContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  height: 100% !important;
}

.banner {
  position: absolute;
  bottom: 6rem;
  left: 0rem;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@keyframes bobble {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
