.mlhLogo {
  max-height: 60px;
  max-width: 100px;
  min-width: 40px;
  margin-top: -26px;
  width: 10%;
  z-index: 10000;
}

.hhlogo {
  max-height: 60px;
}

#brand {
  justify-self: center;
}

@media only screen and (min-width: 416px) {
  .mlhLogo {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 415px) {
  .mlhLogo {
    margin-right: 0px;
  }
}
