.main {
  background-color: #141623;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleText {
  width: 100%;
  margin-top: 6%;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  line-height: 90.2%;
  /* or 126px */

  display: flex;
  justify-content: center;

  color: #ee4c4c;
}
@media only screen and (min-width: 901px) {
  .titleText{
    font-size: 140px;
  }

  .scheduleBox {
    width: 60%;
    font-size: 64px;
  }
}
@media only screen and (max-width: 900px) {
  .titleText{
    font-size: 70px;
  }

  .scheduleBox {
    width: 90%;
    font-size: 32px;
  }
}

.scheduleText {
  margin-top: 10%;
  font-family: 'Lato';
  font-weight: 10;
  /* line-height: 90.2%; */
  font-size: 20px;
  margin: 10px;
}

.scheduleBox {
  box-sizing: border-box;

  height: auto;
  padding: 20px;
  margin: 50px;

  font-family: 'Lato';
  font-weight: 700;
  font-size: 30px;
  /* line-height: 99.2%; */
  vertical-align: middle;
  text-align: center;
  
  border: 5px solid #FFFFFF;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;  
}

