.main {
  background-color: #141623;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleText {
  width: 100%;
  margin-top: 6%;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  line-height: 90.2%;
  /* or 126px */

  display: flex;
  justify-content: center;

  color: #ee4c4c;
}
@media only screen and (min-width: 901px) {
  .titleText{
    font-size: 140px;
  }
}
@media only screen and (max-width: 900px) {
  .titleText{
    font-size: 70px;
  }
}

.sponsorsBox {
  box-sizing: border-box;

  height: 500px;
  padding: 20px;
  margin-top: 50px;

  font-family: 'Lato';
  font-weight: 900;
  line-height: 90.2%;
  vertical-align: middle;
  text-align: center;
  
  border: 5px solid #FFFFFF;
}

.sponsorsBottom {
  width: 100%;
  margin-top: 40px;
  
  font-family: 'Lato';
  font-weight: 900;
  line-height: 90.2%;
  /* or 32px */

  text-align: center;
  display: flex;
  justify-content: center;
  
  color: #FFFFFF;
}
@media only screen and (min-width: 901px) {
  .sponsorsBottom{
    font-size: 36px;
  }
  .sponsorsBox {
    width: 60%;
    font-size: 64px;
  }
}
@media only screen and (max-width: 900px) {
  .sponsorsBottom{
    font-size: 20px;
  }
  .sponsorsBox {
    width: 90%;
    font-size: 32px;
  }
}
