/* By default, the base font size on the Web is 16px. */

@media only screen and (min-width: 1301px) {
  .main {
    background-color: #141623;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .titleText {
    font-family: 'Exo';
    font-weight: 900;
    font-size: 140px;
    line-height: 90.2%;
    /* or 126px */
  
    margin-left: auto;
    margin-right: 5vw;
    margin-top: auto;
    margin-bottom: auto;
  
    color: #ee4c4c;
  }

  .pitrack {
    width: 575px;
    height: 575px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: 5vw;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 0vh;
  }

  .pitrack .back {
    position: fixed;
    font-size: 20px;
    line-height: 2rem;
  }

  .pitrack .front {
    line-height: 85px;
    font-size: 5rem;
  }

  .education {
    width: 575px;
    height: 575px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-right: 5vw;
    margin-left: auto;
    margin-top: 5vh;
    margin-bottom: 0vh;
  }

  .education .back {
    position: fixed;
    font-size: 20px;
    line-height: 2rem;
  }

  .education .front {
    font-size: 5rem;
  }

  .entertainment {
    width: 573px;
    height: 573px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-right: auto;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
  }

  .entertainment .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .entertainment .front {
    font-size: 4rem;
  }

  .lifehack {
    width: 573px;
    height: 573px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-right: 5vw;
    margin-left: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .lifehack .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .lifehack .front {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 631px) {
  .main {
    background-color: #141623;
    color: #ffffff;
    display: grid;
    grid-template-rows: min-content repeat(3, 1fr);
  }

  .pitrack {
    width: 575px;
    height: 575px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .pitrack .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .pitrack .front {
    font-size: 5rem;
  }

  .education {
    width: 575px;
    height: 575px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .education .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .education .front {
    font-size: 5rem;
  }

  .entertainment {
    width: 573px;
    height: 573px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .entertainment .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .entertainment .front {
    font-size: 4rem;
  }

  .lifehack {
    width: 573px;
    height: 573px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .lifehack .back {
    font-size: 20px;
    line-height: 2rem;
  }

  .lifehack .front {
    font-size: 5rem;
  }

  .titleText {
    font-family: 'Exo';
    font-weight: 900;
    font-size: 100px;
    line-height: 90.2%;
    /* or 126px */
  
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  
    color: #ee4c4c;
  }
}

@media only screen and (max-width: 630px) {
  .main {
    background-color: #141623;
    color: #ffffff;
    display: grid;
    grid-template-rows: min-content repeat(3, 1fr);
  }

  .pitrack {
    width: 90vw;
    height: 90vw;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .pitrack .back {
    font-size: 3.7vw;
    line-height: 4vw;
  }

  .pitrack .front {
    font-size: 3rem;
  }

  .education {
    width: 90vw;
    height: 90vw;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .education .back {
    font-size: 3.7vw;
    line-height: 4vw;
  }

  .education .front {
    font-size: 3rem;
  }

  .entertainment {
    width: 90vw;
    height: 90vw;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .entertainment .back {
    font-size: 3.7vw;
    line-height: 4vw;
  }

  .entertainment .front {
    font-size: 2rem;
  }

  .lifehack {
    width: 90vw;
    height: 90vw;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
  }

  .lifehack .back {
    font-size: 3.7vw;
    line-height: 4vw;
  }

  .lifehack .front {
    font-size: 3rem;
  }

  .titleText {
    font-family: 'Exo';
    font-weight: 900;
    font-size: 70px;
    line-height: 90.2%;
    /* or 126px */
  
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  
    color: #ee4c4c;
  }
}

.trackContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  color: white;
  -webkit-transform: rotateY(179.9deg);
  transform: rotateY(179.9deg);
}

.pitrack .front {
  background: url('../assets/images/pitrack.png');
  text-align: center;
  backface-visibility: hidden;
  background-size:cover;
}

.pitrack .back {
  padding-left: 60px;
  padding-right: 60px;

  font-family: 'Lato';

  background: #C0003A;
  border-radius: 50%;
}

.pitrack:hover .trackContainer {
  -webkit-transform: rotateY(179.9deg);
  transform: rotateY(179.9deg);
}

.education .front {
  background: url('../assets/images/educationBackground.png');
  text-align: center;
  backface-visibility: hidden;
  background-size:cover;
}

.education .back {
  padding-left: 60px;
  padding-right: 60px;

  font-family: 'Lato';

  background: #C0003A;
  border-radius: 50%;
}

.education:hover .trackContainer {
  -webkit-transform: rotateY(179.9deg);
  transform: rotateY(179.9deg);
}

.entertainment .front {
  background: url('../assets/images/entertainmentBackground.png');
  text-align: center;
  backface-visibility: hidden;
  background-size:cover;
}

.entertainment .back {
  padding-left: 60px;
  padding-right: 60px;

  font-family: 'Lato';

  background: #C0003A;
  border-radius: 50%;
}

.entertainment:hover .trackContainer {
  -webkit-transform: rotateY(179.9deg);
  transform: rotateY(179.9deg);
}

.lifehack .front {
  background: url('../assets/images/lifehackBackground.png');
  text-align: center;
  backface-visibility: hidden;
  background-size:cover;
}

.lifehack .back {
  padding-left: 60px;
  padding-right: 60px;

  font-family: 'Lato';

  background: #C0003A;
  border-radius: 50%;
}

.lifehack:hover .trackContainer {
  -webkit-transform: rotateY(179.9deg);
  transform: rotateY(179.9deg);
}
